<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Activity Logger</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            {{currentDate}}
        </ion-row>
        <ion-row>
            <ion-col col-auto>
                <ion-row *ngFor="let hour of hours">
                    <ion-col>
                        {{hour}}
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row *ngFor="let one of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]">
                    <ion-card class="background-image-card">
                        <img class="card-img" src="assets/images/onepunchman.png" />
                        <div class="card-title">Manga</div>
                        <div class="card-subtitle">Fun</div>
                    </ion-card>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
