page-home {
    ion-card-header {
        background-color: color($colors, light);
    }
    ion-card.background-image-card {
        position: relative;
        text-align: center;
        .card-title {
            position: absolute;
            top: 40%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 50%;
            width: 100%;
            color: #fff;
        }
    }
    .fab ion-icon {
        font-size: 1.2em;
    }
    ion-fab-list {
        margin: 47px 0;
    }
}
